absl-py==0.11.0
aiohttp==3.7.3
alpha-vantage==2.3.1
ansi2html==1.6.0
appdirs==1.4.4
appnope==0.1.0
argon2-cffi @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi_1596629865231/work
astroid @ file:///opt/concourse/worker/volumes/live/76ddd801-8c2e-42ae-78fe-7e7640c9eb32/volume/astroid_1592495930711/work
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==19.3.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.8.2
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1588608214987/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1588860304135/work
Brotli==1.0.9
brotlipy==0.7.0
bs4==0.0.1
bta-lib==1.0.0
cached-property==1.5.2
cachetools==4.2.1
cbpro==1.1.4
certifi==2020.12.5
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1595805533822/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1600358692504/work
chart-studio==1.1.0
click==7.1.2
cloudpickle==1.6.0
cmdstanpy==0.9.5
convertdate==2.3.0
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1595348779697/work
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.13
dash==1.19.0
dash-core-components==1.15.0
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
dataclasses==0.8
decorator==4.4.2
defusedxml==0.6.0
empyrical==0.5.5
entrypoints==0.3
ephem==3.7.7.1
fake-useragent==0.1.11
Flask==1.1.1
Flask-Compress==1.8.0
flatbuffers==1.12
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1588861378954/work
future==0.18.2
gast==0.3.3
google-auth==1.26.1
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
holidays==0.10.4
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
idna-ssl==1.1.0
importlib-metadata==2.1.1
inflection==0.5.1
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1595446884758/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython==5.8.0
ipython-genutils==0.2.0
isort @ file:///tmp/build/80754af9/isort_1602603989581/work
itsdangerous==1.1.0
Jinja2==2.11.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1593624380152/work
jsonschema==3.2.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1594732094290/work
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions @ file:///Users/runner/miniforge3/conda-bld/jupyter_contrib_nbextensions_1602805486190/work
jupyter-core==4.6.3
jupyter-dash==0.4.0
jupyter-highlight-selected-word @ file:///Users/runner/miniforge3/conda-bld/jupyter_highlight_selected_word_1603234255098/work
jupyter-latex-envs @ file:///Users/runner/miniforge3/conda-bld/jupyter_latex_envs_1602788908763/work
jupyter-nbextensions-configurator @ file:///Users/runner/miniforge3/conda-bld/jupyter_nbextensions_configurator_1602769496357/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
korean-lunar-calendar==0.2.1
lazy-object-proxy @ file:///opt/concourse/worker/volumes/live/0ac78eb4-a09b-44ae-4f3a-0b00b7034ce6/volume/lazy-object-proxy_1607707349885/work
llvmlite==0.35.0
LunarCalendar==0.0.9
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1606483618153/work
Markdown==3.3.3
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1600368241677/work
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools==8.7.0
mpl-finance==0.10.1
mplfinance==0.12.7a5
multidict==5.1.0
multitasking==0.0.9
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert==5.6.1
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1594060262917/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1606153767164/work
nltk==3.4.5
notebook @ file:///Users/runner/miniforge3/conda-bld/notebook_1597257643428/work
numba==0.52.0
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas==1.1.5
pandas-datareader==0.9.0
pandas-ta==0.2.23b0
pandocfilters==1.4.2
parse==1.19.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
plotly==4.14.3
pmdarima==1.8.0
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit==1.0.15
protobuf==3.14.0
ptyprocess==0.6.0
py4j==0.10.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pyee==8.1.0
pyfolio==0.9.2
Pygments==2.6.1
pylint @ file:///opt/concourse/worker/volumes/live/7cea4525-4763-4343-4314-b6c7c20dbe1f/volume/pylint_1598624000729/work
PyMeeus==0.3.7
pymongo==3.5.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyppeteer==0.2.5
pyquery==1.4.3
pyrsistent==0.16.0
PySocks==1.7.1
pyspark==2.4.4
pystan==2.19.1.1
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.1
PyYAML==5.3.1
pyzmq==18.1.1
Quandl==3.6.0
requests==2.25.1
requests-html==0.10.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7
scikit-learn==0.24.1
scipy @ file:///opt/concourse/worker/volumes/live/5de63de1-ebe3-42a0-667e-ce551df4774f/volume/scipy_1592940143707/work
seaborn==0.10.0
Send2Trash==1.5.0
setuptools-git==1.2
simplegeneric==0.8.1
six==1.15.0
slicer==0.0.7
sortedcontainers==2.3.0
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1597680516047/work
statsmodels==0.11.0
ta==0.7.0
technical-indicators-lib==0.0.2
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tmdbsimple==2.6.6
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tornado==6.0.4
tqdm==4.56.0
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1595434816409/work
w3lib==1.22.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client==0.40.0
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
yahoo-fin==0.8.6
yarl==1.6.3
yfinance==0.1.55
zipp==3.1.0
